/*FONTS*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,   U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	font-family: Raleway;
	color: #333;
}

/*TYPE SELECTORS*/

html, body, hr {
	margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
	text-decoration: none;
} 

/*LAYOUTS*/

/*table*/

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table__row {
    display: table-row;
}

/*flexbox*/

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flexbox--space-evenly {
    justify-content: center;
}

@supports not (-ms-ime-align: auto) {
    .flexbox--space-evenly {
        justify-content: space-evenly;
    }
} 

.flexbox--flex-start {
    align-items: flex-start;
}

.flexbox--flex-end {
    align-items: flex-end;
}

/*grid*/

@supports (grid-area: auto) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid__area--2rowspan {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    @media (max-width: 992px) {
        .grid {
            grid-template-columns: 1fr;
        }

        .grid__area--2rowspan {
            grid-column: auto / auto;
            grid-row: auto / auto;
        }
    }
}

/*CONTAINERS*/

/*general*/

.container--wrap-content {
    height: 0px;
}

.container--fill-parent {
    height: 100%;
}

.container--fixed-width-90 {
    width: 90%;
}

.container--fixed-width-75 {
    width: 75%;
}

.container--max-width {
    max-width: 400px;
}

.container--centered {
    margin: 0px auto;
}

.container--margin-top-48px {
    margin-top: 48px;
}

.container--margin-top-20px {
    margin-top: 20px;
}

.container--margin-bottom-48px {
    margin-bottom: 48px;
}

.container--margin-bottom-20px {
    margin-bottom: 20px;
}

.container--disappearing-margin-bottom-32px {
    margin-bottom: 32px;
}

@media (max-width: 879px) {
    .container--appearing-margin-top-20px {
        margin-top: 20px;
    }
    .container--disappearing-margin-bottom-32px {
        margin-bottom: 0px;
    }
}

.container--margin-horizontal-20px {
    margin-left: 20px;
    margin-right: 20px;
}

.container--padding {
    padding: 0px 20px;
}

@supports (grid-area: auto) {
    .container--padding {
        padding: 20px;
    }
}

.container--disappearing-border {
        margin: 0 5%;
    }

.container--appearing-border:not(:last-of-type) {
        border-bottom: 1px solid gray;
        margin: 0 5%;
    }

@supports (grid-area: auto) {
    .container--appearing-border:not(:last-of-type) {
        border-bottom: none;
        margin: 0;
    }

    .container--margin-left-25 {
        margin-left: 25%;
    }

    .container--margin-left-12-5 {
        margin-left: 12.5%;
    }

    .container--margin-right-12-5 {
        margin-right: 12.5%;
    }

    .container--disappearing-border:not(:last-of-type) {
        border-bottom: 1px solid gray;
    }

    @media (max-width: 992px) {
        .container--padding {
            padding: 0px 20px;
        } 
        .container--disappearing-border:not(:last-of-type) {
            border-bottom: none;
        }

        .container--appearing-border:not(:last-of-type) {
            border-bottom: 1px solid gray;
            margin: 0 5%;
         }

        .container--margin-left-25, .container--margin-left-12-5, .container--margin-right-12-5 {
            margin: 48px auto;
        }
    }
}

/*nav*/

.nav {
	background: linear-gradient(90deg, #FFFFFF, #D3D3D3);
    border-bottom: 1px solid gray;
    text-align: center;
}

.nav__ul {
	margin: 0;
    padding: 0;
}

.nav__ul li {
    display: inline;
}

.nav__ul a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
}

.nav__ul a:hover {
    background-color: #D3D3D3;
}

/*iframes*/

.youtube {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    text-align: center; 
}

.youtube__iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*TEXT*/

.text--centered {
    text-align: center;
}

.text--20px {
    font-size: 20px;
}
    
.text--32px {
    font-size: 32px;
}

.text--20px-responsive {
    font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (1366 - 360)));
}

.text--spaced {
    line-height: 200%;
}

.text--bold {
    font-weight: bold;
}

.a--blue {
    color: blue;
}

.a--blue:visited {
    color: purple;
}